<div class="card">
  <span class="card-curtain"></span>
  <div class="card-main">
    <div class="card-side font-bold-italic">
      <h3>Samuel, Lisboa 08 / 2019 - </h3>
    </div>
    <div class="card-center-title">
      <h1 class="font-bold">Brussels</h1>
    </div>
    <div class="card-menu">
      <span class="logo btn">
        <svg
           viewBox="0 0 70.636673 138.21759"
           version="1.1"
           id="svg23898"
           sodipodi:docname="gitarre.svg"
           inkscape:version="1.1 (c4e8f9ed74, 2021-05-24)"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:svg="http://www.w3.org/2000/svg">
          <sodipodi:namedview
             id="namedview23900"
             pagecolor="#ffffff"
             bordercolor="#666666"
             borderopacity="1.0"
             inkscape:pageshadow="2"
             inkscape:pageopacity="0.0"
             inkscape:pagecheckerboard="0"
             inkscape:document-units="mm"
             showgrid="false"
             inkscape:object-paths="true"
             fit-margin-top="5"
             fit-margin-left="5"
             fit-margin-right="5"
             fit-margin-bottom="5"
             lock-margins="true"
             inkscape:zoom="0.58796296"
             inkscape:cx="136.91339"
             inkscape:cy="220.25197"
             inkscape:window-width="1920"
             inkscape:window-height="1021"
             inkscape:window-x="1920"
             inkscape:window-y="0"
             inkscape:window-maximized="1"
             inkscape:current-layer="layer1" />
          <defs
             id="defs23895" />
          <g
             inkscape:label="Layer 1"
             inkscape:groupmode="layer"
             id="layer1"
             transform="translate(-68.844144,-89.990671)">
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 111.48151,132.69618 c 0,0 -20.136142,-5.52239 -17.950073,22.34641"
               id="path24027" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 93.531435,155.04259 c -0.956953,5.68491 -3.899462,14.02271 -9.015014,21.33656 -3.673875,5.25264 -5.562624,10.87992 -7.994321,15.91891 0,0 -6.167468,13.87634 5.143989,23.56165 0,0 17.319545,7.38237 25.845601,-17.3259 0,0 1.68998,-8.66034 0.93678,-14.94958 -0.75321,-6.28924 -0.35586,-11.78586 4.51203,-19.04767 4.86789,-7.26181 6.85864,-6.88879 9.4538,-13.71256 2.59516,-6.82377 -4.17422,-16.61321 -10.93279,-18.12782"
               id="path24029"
               sodipodi:nodetypes="cscccsssc" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 89.741932,193.83838 c 0,0 25.745428,-91.33193 29.532008,-95.913819"
               id="path24619" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 94.48245,191.08476 c 0,0 19.86861,-80.15611 29.67346,-90.56962"
               id="path24621" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 96.056025,198.348 c 0,0 27.072255,-97.82351 33.056665,-102.357329"
               id="path24623" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798"
               cx="132.75174"
               cy="102.94849"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-3"
               cx="128.87189"
               cy="110.12021"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-6"
               cx="126.5693"
               cy="117.37285"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-7"
               cx="114.22594"
               cy="101.01357"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-5"
               cx="111.78976"
               cy="107.66771"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-35"
               cx="109.73763"
               cy="112.67931"
               rx="1.7290766"
               ry="1.4632527" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 116.09765,134.96705 c 0,0 9.93302,4.49312 12.15812,6.15097 0,0 5.25917,8.68685 -5.03284,23.58501 0,0 -6.74204,8.01303 -6.12571,14.74334 0.61633,6.7303 0.16684,31.49955 -17.06717,42.76189 0,0 -7.925734,-0.23778 -18.363961,-6.34855"
               id="path25121" />
          </g>
        </svg>
      </span>
    </div>
    <div class="card-bottom">
      <span class="option btn">
        <span class="icon">
          <svg fill="#000000" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <g>
            <path d="M8,6c0,1.1-0.9,2-2,2S4,7.1,4,6s0.9-2,2-2S8,4.9,8,6z"/>
            <path d="M0,0v19h20V0H0z M18,2v10.8L13.99,8L10,13l-3-3l-5,5.83V2H18z"/>
            <path d="M24,23H5v-2h17V5h2V23z"/>
          </g>
          </svg>
        </span>
        <span class="tootlip">
          gallery
        </span>
      </span>
      <span class="option btn">
        <span class="icon">
          <svg viewBox="0 0 512 512">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="about-white" fill="#000000" transform="translate(42.666667, 42.666667)">
                <path d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z"/>
              </g>
            </g>
          </svg>
        </span>
        <span class="tootlip">
          about us
        </span>
      </span>
      <span class="option btn">
        <span class="icon">
          <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve">
            <g>
              <rect x="119.256" y="222.607" class="st0" width="50.881" height="50.885"/>
              <rect x="341.863" y="222.607" class="st0" width="50.881" height="50.885"/>
              <rect x="267.662" y="222.607" class="st0" width="50.881" height="50.885"/>
              <rect x="119.256" y="302.11" class="st0" width="50.881" height="50.885"/>
              <rect x="267.662" y="302.11" class="st0" width="50.881" height="50.885"/>
              <rect x="193.46" y="302.11" class="st0" width="50.881" height="50.885"/>
              <rect x="341.863" y="381.612" class="st0" width="50.881" height="50.885"/>
              <rect x="267.662" y="381.612" class="st0" width="50.881" height="50.885"/>
              <rect x="193.46" y="381.612" class="st0" width="50.881" height="50.885"/>
              <path class="st0" d="M439.277,55.046h-41.376v39.67c0,14.802-12.195,26.84-27.183,26.84h-54.025
                c-14.988,0-27.182-12.038-27.182-26.84v-39.67h-67.094v39.297c0,15.008-12.329,27.213-27.484,27.213h-53.424
                c-15.155,0-27.484-12.205-27.484-27.213V55.046H72.649c-26.906,0-48.796,21.692-48.796,48.354v360.246
                c0,26.661,21.89,48.354,48.796,48.354h366.628c26.947,0,48.87-21.692,48.87-48.354V103.4
                C488.147,76.739,466.224,55.046,439.277,55.046z M453.167,462.707c0,8.56-5.751,14.309-14.311,14.309H73.144
                c-8.56,0-14.311-5.749-14.311-14.309V178.089h394.334V462.707z"/>
              <path class="st0" d="M141.525,102.507h53.392c4.521,0,8.199-3.653,8.199-8.144v-73.87c0-11.3-9.27-20.493-20.666-20.493h-28.459
                c-11.395,0-20.668,9.192-20.668,20.493v73.87C133.324,98.854,137.002,102.507,141.525,102.507z"/>
              <path class="st0" d="M316.693,102.507h54.025c4.348,0,7.884-3.513,7.884-7.826V20.178C378.602,9.053,369.474,0,358.251,0H329.16
                c-11.221,0-20.349,9.053-20.349,20.178v74.503C308.81,98.994,312.347,102.507,316.693,102.507z"/>
            </g>
          </svg>
        </span>
        <span class="tootlip">
          schedule
        </span>
      </span>
    </div>
  </div>
</div>
