<div class="card-container">

	<div class="card-duo normal">
		<div class="card-menu btn">
			<svg fill="#000000" viewBox="0 0 32 32">
				<path d="M29,6H3A1,1,0,0,0,3,8H29a1,1,0,0,0,0-2Z"/>
				<path d="M3,17H16a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
			</svg>
			<p>Menu</p>
		</div>
		<div class="card-control">
			<span class="card-control-prev btn">
				<svg viewBox="0 0 24 24" fill="none">
					<path d="M7 12H21" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2.35729 11.7856L5.7884 9.72696C6.32162 9.40703 7 9.79112 7 10.413V13.587C7 14.2089 6.32162 14.593 5.7884 14.273L2.35729 12.2144C2.19545 12.1173 2.19545 11.8827 2.35729 11.7856Z" fill="#222222"/>
				</svg>
				<span class="font-semi-bold-italic">Prev</span>
			</span>
			<span class="card-control-next btn">
				<span class="font-semi-bold-italic">Next</span>
				<svg viewBox="0 0 24 24" fill="none">
					<path d="M17 12H3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21.6427 11.7856L18.2116 9.72696C17.6784 9.40703 17 9.79112 17 10.413V13.587C17 14.2089 17.6784 14.593 18.2116 14.273L21.6427 12.2144C21.8045 12.1173 21.8045 11.8827 21.6427 11.7856Z" fill="#222222"/>
				</svg>
			</span>
		</div>
		<div class="card-content page-1 active">
			<aside>
				<div class="card-title font-bold">
					<span>S</span>
					<span>amuel <br>Hernandez</span>
				</div>
				<div class="card-text">
					<hr>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra hendrerit ornare. Nunc feugiat nisl eget felis iaculis, id viverra elit eleifend. Mauris a massa nec nisi efficitur finibus ac semper leo. Curabitur accumsan ex at vehicula pulvinar. Etiam blandit est in sapien semper tristique.
					Aliquam sollicitudin nulla nunc, vitae ullamcorper diam interdum et. Curabitur porttitor vel leo at sodales. Maecenas eu lobortis metus, eget facilisis lorem.
					<br>
					Etiam in posuere neque, eu pretium sem. Suspendisse nec dolor eleifend, commodo neque eu, lacinia mauris. Suspendisse vehicula ligula id vulputate tincidunt. Aliquam quis suscipit nibh, non mattis urna. Fusce ac justo vel eros maximus lacinia. Nullam eleifend urna vel velit hendrerit, in porttitor nisl cursus.
				</div>
				<div class="card-side font-light-italic">SomeSide</div>
			</aside>
		</div>
		<div class="card-image" style="background-image: url(<%= asset_path("card1.png")%>);">
			<aside>
				<div class="image-footer">Some Text Here 1</div>
				<div class="image-side">Some side here 1</div>
			</aside>
		</div>
	</div>

	<div class="card-duo reverse">
		<div class="card-menu btn">
			<svg fill="#000000" viewBox="0 0 32 32">
				<path d="M29,6H3A1,1,0,0,0,3,8H29a1,1,0,0,0,0-2Z"/>
				<path d="M3,17H16a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
			</svg>
			<p>Menu</p>
		</div>
		<div class="card-control">
			<span class="card-control-prev btn">
				<svg viewBox="0 0 24 24" fill="none">
					<path d="M7 12H21" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2.35729 11.7856L5.7884 9.72696C6.32162 9.40703 7 9.79112 7 10.413V13.587C7 14.2089 6.32162 14.593 5.7884 14.273L2.35729 12.2144C2.19545 12.1173 2.19545 11.8827 2.35729 11.7856Z" fill="#222222"/>
				</svg>
				<span class="font-semi-bold-italic">Prev</span>
			</span>
			<span class="card-control-next btn">
				<span class="font-semi-bold-italic">Next</span>
				<svg viewBox="0 0 24 24" fill="none">
					<path d="M17 12H3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21.6427 11.7856L18.2116 9.72696C17.6784 9.40703 17 9.79112 17 10.413V13.587C17 14.2089 17.6784 14.593 18.2116 14.273L21.6427 12.2144C21.8045 12.1173 21.8045 11.8827 21.6427 11.7856Z" fill="#222222"/>
				</svg>
			</span>
		</div>
		<div class="card-content page-1 active">
			<aside>
				<div class="card-title font-bold">
					<span>S</span>
					<span>amuel <br>Hernandez</span>
				</div>
				<div class="card-text">
					<hr>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra hendrerit ornare. Nunc feugiat nisl eget felis iaculis, id viverra elit eleifend. Mauris a massa nec nisi efficitur finibus ac semper leo. Curabitur accumsan ex at vehicula pulvinar. Etiam blandit est in sapien semper tristique.
					Aliquam sollicitudin nulla nunc, vitae ullamcorper diam interdum et. Curabitur porttitor vel leo at sodales. Maecenas eu lobortis metus, eget facilisis lorem.
					<br>
					Etiam in posuere neque, eu pretium sem. Suspendisse nec dolor eleifend, commodo neque eu, lacinia mauris. Suspendisse vehicula ligula id vulputate tincidunt. Aliquam quis suscipit nibh, non mattis urna. Fusce ac justo vel eros maximus lacinia. Nullam eleifend urna vel velit hendrerit, in porttitor nisl cursus.

				</div>
				<div class="card-side font-light-italic">SomeSide1</div>
			<aside>
		</div>
		<div class="card-image" style="background-image: url(<%= asset_path("card2.png")%>);">
			<aside>
				<div class="image-footer">Some Text Here 2</div>
				<div class="image-side">Some side here 2</div>
			</aside>
		</div>
	</div>
	
</div>