<div class="card-container card col">
  <div class="card shadow row">
    <form>
      <div class="col card-content page-1 active">
        <aside>
          <div class="card-title font-bold">
            <span>S</span>
            <span>chedule <br>now</span>
          </div>
          <div class="card-text">
            <hr>
            <span class="card row space-around">
              <label class="font-medium-italic">Attendee:</label>
              <input type="" name="" placeholder="Jhon">
            </span>
            <hr>
            <span class="card row space-around">
              <label class="font-medium-italic">Email:</label>
              <input type="" name="" placeholder="Jhon@gmail.com">
            </span>
            <hr>
            <span class="card row space-around">
              <label class="font-medium-italic">Age:</label>
              <input type="number" name="" placeholder="10">
            </span>
          </div>
          <div class="card-side font-light-italic">Your Info</div>
        </aside>
        <h2 class="card-form-continue">
          <a class="btn">
              Continue
          </a>
        </h2>
      </div>
      <div class="col card-content page-2">
        <aside>
          <div class="card-title font-bold">
            <span>G</span>
            <span>et to know<br>you</span>
          </div>
          <div class="card-text">
            <hr>
            <label>Name:</label>
            <input type="" name="">
          </div>
          <div class="card-side font-light-italic">Learn Now</div>
        </aside>
      </div>
      <div class="col card-content page-3">
        <aside>
          <div class="card-title font-bold">
            <span>B</span>
            <span>ook <br>now</span>
          </div>
          <div class="card-text">
            <hr>
            <label>Date:</label>
            <input type="" name="">
          </div>
          <div class="card-side font-light-italic">Keep in touch</div>
        </aside>
      </div>
    </form>
  </div>
</div>