/**
 * Pallete
**/
$primary: #ADFFDC;      // Magic Mint
$dark: #1E1E24;         // Raisin Black
$secondary: #7A7D7D;    // Gray Web
$light: #FFFBFE;        // Snow
$bg-color: #09090B;     // Rich Black FOGRA 39

/**
 * Others
**/
$warning: #FF5154;    // Tart Orange
$info: #FFD65A;       // Mustard

